<button id="products" (click)="products()">Products</button>
<button id="sellers" (click)="sellers()">Sellers</button>

<div *ngFor = "let product of productList">
   <ul *ngFor = "let items of product" > 
    <div class="card" onclick="navigate()">
     <li><img src = {{items.image}}  height="100" width="100" style="display: block;
  margin-left: auto;
  margin-right: auto;"></li>
  <li > 
   ID: {{items.id}}</li><br>
    <li >Product Name:{{items.productName}}</li><br>
    <li >Product Description: {{items.description}}</li><br>
    </div>
  </ul>

</div>


<!-- 
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://github.com/ngrx/platform
-->