<button id="products" (click)="products()">Products</button>
<button id="sellers" (click)="sellers()">Sellers</button>

<div *ngFor = "let product of productList">
   <ul *ngFor = "let items of product" > 
    <div class="card">
     <li><img src = {{items.image}}  height="100" width="100" style="display: block;
  margin-left: auto;
  margin-right: auto;"></li>
    <li >Product Name:{{items.productName}}</li><br>
    <li >Product Description: {{items.description}}</li><br>
    
     <a routerLink="/products" onclick="navigate()">More info</a>
    </div>
  </ul>

</div>


<!-- 
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://github.com/ngrx/platform
-->